# Virtual environment
.venv/
.venv2/
venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Kaggle data
data/raw/
data/processed/
data/external/

# Model predictions
predictions/

# Generated models / outputs
models/
outputs/

# Submissions
submissions/

# Secrets
.env
kaggle.json